@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
  background-color: #f9f9f9;
  min-height: 100vh;
  color: #666;
}

.content {
  padding-right: 400px;
  padding-left: 400px;
  padding-top: 200px;
}

.nav, .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  position: fixed;
  background-color: #383838;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 500px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #c4c4c4;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu li a:hover {
  color: #161919;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #c4c4c4;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

::-webkit-scrollbar {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

/* footer */
.footer #button {
  width: 35px;
  height: 35px;
  border: #383838 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #383838 12px solid;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.footer:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}

.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #383838;
}

.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

.footer h3 {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
  color: #c4c4c4;
}

td {
  border: 25px solid #fff;
  text-align: center;
}

table {
  margin-left: 150px;
}
/*# sourceMappingURL=styles.css.map */